.ErrorMessage {
  display: flex;
  align-items: center;

  gap: .625rem;

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  color: #FFFFFF;
}