@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #06080C;
  width: 100vw;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: initial;
}

h2 {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: right;


  color: #FAFAFA66;

}

button {
  margin: 0;
  padding: 0;
  background: initial;
  border: initial;
}