
.Card {
  display: flex;
  flex-direction: column;
  //width: 114.75rem;

  background-color: #0B0E12;

  min-height: 5.4375rem;
  max-height: 15.9375rem;
  padding: 1rem;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;


  font-family: Inter, serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0%;
  color: #FFFFFF;

}
.v1 {
  background: linear-gradient(90deg, #0F1318 0%, #0A0E12 100%);
}
.v2 {
  background: linear-gradient(90deg, #0B0F13 0%, #0F1318 52.4%, #0A0E12 100%);

}
.v3 {
  background: linear-gradient(90deg, #0A0E12 0%, #0F1318 100%);
}
